body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #eaeaea;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 2px 10px 0 rgba(0, 1, 1, 0.2);
}
.welcome-block {
  background-color: #a3a7ac;
  background-image: url("../img/bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}


.welcome-bottom {
  background-color: #a3a7ac;
  background-image: url("../img/bgbottom.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter-form {
  background-color: #a3a7ac;
  background-image: url("../img/bg-hotels.jpg");
  background-position:  center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.filter-checkbox {
  position: relative;
  padding-left: 40px;
  padding-top: 2px;
  cursor: pointer;
}

.filter-form ul,
.sorting ul {
  list-style: none;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;

}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation .active {
  color: #9b8d84;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #e0e0e0;
}

.reason,
.advantages {
  text-align: center;
}

.description h1,
.reason h2,
.advantages h2,
.sorting h2,
.catalog-information h2,
.feedback a {
  font-size: 21px;
  line-height: 26px;
}

.feedback a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting p,
.sorting li {
  font-size: 12px;
  line-height: 18px;
}

.image {
  background-color: #b2c7dc;
  height: 255px;
}

.description {
  text-align: center;
}

.button {
  display: inline-block;
  margin-right: 10px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.button-brown {
  background-color:#766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: #857871;
}


.button-blue{
  background-color:#81b3d2;
  color: #ffffff;
}

.button-blue:hover,
.button-blue:focus {
  background: #669ec0;
}

.button-blue:active {
  background-color: #669ec0;
  color: #88b6d1;
}
.button-sorting.active {
  color: #a3c7de;
  border: none;
}

.button-sorting{
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #bcbcbc;
  border-bottom: 1px dotted #a3c7de;
  background-color: #ffffff;
}

.button-sorting:hover,
.button-sorting:focus {
  color: #a3c7de;
  border-bottom: 1px dotted a3c7de;
}

.button-sorting:active {
  color: #000000;
  border: none;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-left: 130px;
  margin-top: 10px;
}

.button-transparent:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.catalog-information h2 a {
  color: #000000;
}

.catalog-information a:first-child:hover,
.catalog-information a:focus{
  color: #a3c7de;
}

.catalog-information a:first-child:active{
  color: #b2b2b2;
}

.page-footer p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}


.search-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.feedback h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}

.feedback p {
  text-align: center;
}

.reason-text {
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;
  min-height: 140px;
  padding: 27px 20px 20px;
}

.main-navigation {
  min-height: 56px;
  margin: 0;
  display: flex;
  position: relative;
}

.main-header-logo {
  height: 70px;
  width: 240px;
  position: absolute;
  top: 0px;
  left: 530px;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 245px;
  margin-top: 0px;
}

.site-navigation li:first-child {
  margin-left: 33px;
  margin-right: -5px;
}


.site-navigation li:last-child {
  margin-right: ;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: 80px;
}

.welcome-block {
  min-height: 350px;
  display: flex;
}


.title {
  width: 460px;
  min-height: 350px;
  margin-top: 77px;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  display: flex;
  flex-direction: column;
  min-height: 170px;
  margin: 43px  40px auto;
}

.description p {
  margin-top: 13px;
}


.reason {
  min-height: 240px;
  display: flex;
}

.advantages {
  display: flex;
  justify-content: center;
}

.advantages-item {
  width: 400px;
  min-height: 35px;
  padding: 142px 55px 65px;
  position: relative;
}

.housing::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 165px;
  width: 80px;
  height: 80px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 165px;
  width: 80px;
  height: 80px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.souvenirs::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 165px;
  width: 80px;
  height: 80px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.other-reasons-item {
  background-color: #eeeeee;
  width: 400px;
  min-height: 120px;
  padding: 26px 10px 37px;
}

.feedback {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.feedback h3 {
  margin-bottom: 35px;
  margin: 50px auto;
}

.feedback p {
  margin-top: -24px;
}

iframe {
  width: 1200px;
  height: 470px;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.modal {
  width: 570px;
  min-height: 395px;
  position: absolute;
  top: 294px;
  left: 50%;
  transform: translatex(-50%);
  background-color: #ffffff;
  font-weight: bold;
  box-shadow: 0 2px 10px 0 rgba(0, 1, 1, 0.2);

}
.search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 76px;
  align-items: flex-start;

}


.feedback .button-blue {
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    min-height: 50px;
  }


.search-hotel {
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  width: 510px;
  padding: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-height: 30px;
}

.search-form .button {
  width: 456px;
  min-height: 58px;
  margin: 52px auto 30px;
  font-size: 21px;
  line-height: 26px;
}


.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 58px;
}

.group-exit {
  margin-top: 38px;
}

.group-inter .date input{
  margin-left: 20px;
}

.group-exit .date input{
  margin-left: 17px;
}

.date input,
.group-of-people input {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 14px;
}


.date {
  position: relative;
}


.date input:hover,
.group-of-people input:hover {
  background-color: #ebebeb;
}

.date input:focus,
.group-of-people input:focus {
  background-color: #ffffff;
  outline: 1px solid #e5e5e5;
}


.input-group {
  width: 345px;
  height: 40px;
  padding-left: 10px;
  padding-right: 40px;
}


.group-of-people {
  display: flex;
  margin-top: 15px;
  margin-left: 58px;
}


.input-icon-calendar {
  position: absolute;
  top: 9px;
  left: 420px;
  border: none;
  background-color: transparent;
}

.input-icon-calendar:hover path {
  fill: #000000;
}

.input-icon-calendar:active path {
  fill: #88b7d5;
}


.hotel-children button,
.hotel-grown button {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  border: 0;
  background-color: #f2f2f2;
  font-weight: 700;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #a9a9a9;
  position: absolute;
}

.hotel-grown button:first-child {
  top: 0;
  left: 20px;
}

.hotel-grown button:last-child {
  top: 0;
  left: 96px;
}

.hotel-children button:first-child {
  top: 0;
  left: 20px;
}

.hotel-children button:last-child {
  top: 0;
  left: 97px;
}




.hotel-children button:hover,
.hotel-grown button:hover,
.hotel-children button:focus,
.hotel-grown button:focus {
  color: #000000;
}

.hotel-children button:active,
.hotel-grown button:active {
  color: #81b3d2;
}


.hotel-children,
.hotel-grown {
  display: flex;
  position: relative;
}

.hotel-grown {
  margin-left: 20px;
  margin-right: 53px;
}

.hotel-children {
  margin-left: 3px;
}

.hotel-children input,
.hotel-grown input {
  width: 110px;
  height: 38px;
  padding-left:  50px;
  padding-right: 10px;
  margin-left: 25px;

}




.booking-form-search1,
.booking-form-search2 {
  align-self: center;
}


.page-footer {
  display: flex;
  align-items: flex-start;
  min-height: 100px;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.page-footer p {
  margin-top: 40px;
  margin-left: 133px;
}

.footer-social {
  display: flex;
  width: 155px;
  margin-top: 30px;
  justify-content: center;
  margin-left: 253px;
}

.social {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-fb {
  margin-left: 6px;
  margin-right: 6px;
}

.social:hover,
.social:focus {
  background-color: #669ec0;
}

.social:active {
  background-color: #5496bd;
}

.social:active path {
  fill: #88b6d1;
}

.developer {
  display: flex;
  min-width: 200px;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
  margin-left: 225px;
  }

.developer span {
  font-size: 14px;
  line-height: 26px;
  margin-right: 9px;
  align-self: flex-start;
  margin-top: 10px;
}

.developer a {
  width: 115px;
  height: 45px;
  align-self: flex-start;
  margin-top: 3px;
}

.developer path {
  fill: #000000;
}

.developer:hover path,
.developer:focus path {
  fill: #98c1da;
}

.developer:active path {
  fill: #bdbbbc;
}


.filter-form {
  display: flex;
  justify-content: flex-start;
  height: 218px;
}

.filter-form fieldset:first-child {
  border: none;
  display: flex;
  width: 145px;
  min-height: 160px;
  margin-top: 24px;
  margin-left: 60px;
  margin-bottom: 0px;
  align-items: flex-start;
}

.filter-form fieldset:nth-child(2) {
  border: none;
  display: flex;
  width: 145px;
  min-height: 160px;
  margin-top: 24px;
  margin-left: 83px;
  margin-bottom: 30px;
}


.filter-range {
  width: 330px;
  margin-top: 27px;
  margin-left: 322px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: o;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 315px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 320px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 76%;
}

.btn-transparent {
  min-width: 137px;
  display: block;
  margin: 0 85px;
  padding: 6px 32px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-form ul {
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  width: 150px;
  height: 120px;
  justify-content: space-between;
}


.sorting {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 86px;
}

.sorting h2 {
  margin-left: 71px;
  margin-top: 30px;
}

.sorting p {
  margin-left: 48px;
  margin-top: 35px;
}

.sorting ul {
  display: flex;
  flex-direction: row;
  width: 300px;
  min-height: 14px;
  justify-content: flex-start;
  margin-left: -7px;
  margin-top: 35px;
}

.sorting li {
  margin-right: 12px;
}

.sorting .arrow {
  display: flex;
  margin-left: 445px;
  margin-top: 35px;
  width: 40px;
  min-height: 15px;
  justify-content: center;
}

.up-arrow,
.down-arrow {
  background-color: transparent;
  border: none;
}

.up-arrow:hover polygon,
.down-arrow:hover polyline,
.up-arrow:focus polygon,
.down-arrow:focus polyline {
  fill: #231f20;
}

.up-arrow:active polygon,
.down-arrow:active polyline {
  fill: #81b3d2;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 7px;
}

.catalog-item {
  display: flex;
  justify-content: flex-start;
  min-height: 100px;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px 16px;
}

.catalog-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.catalog-item .catalog-image {
  width: 135px;
  height: 90px;
}

.catalog-item .catalog-information {
  margin-left: 30px;
  width: 260px;
  min-height: 90px;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.catalog-information h2 {
  margin-top: -4px;
}

.catalog-information p {
  font-size: 14px;
  line-height:  21px;
}

.catalog-information span {
  font-size: 14px;
  line-height:  21px;
}

.hotel-button {
  display: flex;
}

.hotel-button .button-blue {
  margin-right: 5px;
  min-height: 24px;
  min-width: 110px;
  padding-top: 2px;
}

.hotel-button .button-brown {
  min-height: 24px;
  min-width: 143px;
  padding-top: 2px;
}


.hotel-text {
  display: flex;
  align-items: baseline;
  margin-top: -25px;

}

.catalog-information .amara-indent {
  margin-left: 39px;

}

.catalog-information .desert-indent {
  margin-left: 63px;

}

.catalog-information .villas-indent {
  margin-left: 20px;

}



.catalog-item .catalog-rating {
  min-height: 90px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: 523px;
  position: relative;


}

.catalog-rating p {
  width: 110px;
  height: 30px;
  background-color: #f2f2f2;
  color: #797979;
  margin-top: 60px;
  text-align: center;

}

.amara .star1::before,
.amara .star1::after,
.amara .star2::before,
.amara .star2::after,
.desert .star1::before,
.desert .star1::after,
.desert .star2::before,
.villas .star1::before,
.villas .star1::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.star1::before {
  top: 0px;
  left: 90px;
}

.star1::after {
  top: 0px;
  left: 67px;
}

.star2::before {
  top: 0px;
  left: 43px;
}

.star2::after {
  top: 0px;
  left: 19px;
}
